body {
  margin: 0;
}
.container {
  height: 1280px;
  width: 100vw;
  display: block;
  background-color: white;
}
.information {
  padding: 30px;
  border-bottom: 1px solid #999;
  position: relative;
}
.name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}
.school {
  color: #999;
  margin-bottom: 12px;
}
.gratuation,
.home {
  color: #999;
  margin-bottom: 12px;
}
.phone,
.e-mail,
.github {
  color: #999;
}
.phone {
  margin-right: 20px;
}
.photo {
  width: 80px;
  height: 117px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
}
.photo > img {
  width: 100%;
}
.Introduction,
.gratuate-experience,
.work-experience-one {
  padding: 30px;
  position: relative;
}
.box-two {
  border: 1px solid #999;
  padding: 10px;
  margin: 0 auto;
  font-size: 17.5px;
  box-shadow: 0 0 1em #999;
  border-radius: 7px;
}
h1 {
  margin-top: 0;
  font-size: 28px;
}
.university {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.time{
  margin-bottom: 10px;
}
.profession {
  margin-bottom: 10px;
}
.box-one {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 80px;
}
.box-one > img {
  width: 100%;
}
.company {
  font-size: 20px;
}
.type,
.work-time,
.department {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.work {
  font-size: 14px;
  margin-bottom: 10px;
}
.duty {
  margin-top: 5px;
  margin-left: 79px;
}
.box-three {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  background-color: #999;
  opacity: 0.6;
  border-radius: 7px;
  margin-top: 14px;
}
.box-four {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 30px;
  top: 80px;
}
.box-four > img,
.box-five > img {
  width: 100%;
}
.box-five {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 30px;
  top: 0;
}
.work-experience-two,
.work-experience-three {
  padding: 0 30px 30px 30px;
  position: relative;
}
